<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Aluno</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <h1>Detalhes do Aluno</h1>
    

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Período de Ingresso</th>
            <th>Nota - Web Avançado</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.periodo_ingresso }}</td>
            <td>{{ aluno.nota_web_avancado }}</td>
            <td>{{ aluno.situacao }}</td>
          </tr>
        </tbody>
      </table>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
